@import "tailwindcss";

@font-face {
	font-family: "GeistVariable";
	src: url("../lib/assets/fonts/Geist-VF.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GeistMonoVariable";
	src: url("../lib/assets/fonts/GeistMono-VF.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--base-hue: 285;
	--color-background: oklch(0.9911 0.002 var(--base-hue));
	--color-foreground: oklch(0.1408 0.0044 var(--base-hue));
	--color-border: oklch(0.8925 0.002 var(--base-hue));
	--color-card: oklch(1 0 0);
	--color-card-muted: oklch(0.9642 0.002 var(--base-hue));
	--card-highlight: oklch(0.8925 0.002 var(--base-hue));
	--shadow-xs: 0px 1px 1px -0.5px rgba(0, 0, 0, 0.15);
	--shadow-sm:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15), 0px 3px 3px -1.5px
		rgba(0, 0, 0, 0.05);
	--shadow-md:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15),
		0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05);
	--shadow-lg:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15),
		0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05),
		0px 12px 12px -6px rgba(0, 0, 0, 0.05);
	--shadow-xl:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15),
		0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05),
		0px 12px 12px -6px rgba(0, 0, 0, 0.05),
		0px 24px 24px -12px rgba(0, 0, 0, 0.05);
	--shadow-2xl:
		0px 1px 1px -0.5px rgba(0, 0, 0, 0.15),
		0px 3px 3px -1.5px rgba(0, 0, 0, 0.05),
		0px 6px 6px -3px rgba(0, 0, 0, 0.05),
		0px 12px 12px -6px rgba(0, 0, 0, 0.05),
		0px 24px 24px -12px rgba(0, 0, 0, 0.05),
		0px 48px 48px -24px rgba(0, 0, 0, 0.05);
}

.dark {
	--color-background: oklch(0.12 0.0044 var(--base-hue));
	--color-foreground: oklch(0.95 0.0013 var(--base-hue));
	--color-border: oklch(0.22 0.015 var(--base-hue));
	--color-card: oklch(0.15 0.0085 var(--base-hue));
	--color-card-muted: oklch(0.18 0.0115 var(--base-hue));
	--card-highlight: oklch(0.34 0.025 var(--base-hue));
}

@theme {
	--font-sans: "GeistVariable";
	--font-mono: "GeistMonoVariable";
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-card: var(--card);
	--color-card-muted: var(--card-muted);
	--card-highlight: var(--card-highlight);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@utility card-highlight {
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: -1px;
		border-radius: inherit;
		pointer-events: none;
		z-index: -1;
		box-shadow: inset 0 1px 0 0 var(--card-highlight);
	}

	@variant dark {
		&::before {
		box-shadow: inset 0 1px 0 0 var(--card-highlight);
		}
	}
}

@layer base {
  body {
    @apply bg-card font-sans text-foreground;
  }
}
